.main-calendar{
    display: flex;
    flex-flow: column;
    height: 100vh;
}
.event-calendar{
    background-color: var(--primary);
    border-radius: 0px;
    opacity: .8;
    display: block;
    color: #ffffff;
}
