.login-container {
    width: 100%;
    background: var(--primary);
    background: -webkit-linear-gradient(to right, var(--secundary), var(--primary));
    background: linear-gradient(to right, var(--secundary), var(--primary));
    display: flex;
    align-items: center;
    height: 100vh;
}

.forms-container {
    margin: 0 auto;
    border-radius: 5px;
    width: 90%;
    height: 100%;
}

.login-form-1 {
    background: rgba(255, 255, 255, .2);

}

.login-form-2 {
    background: rgba(255, 255, 255, .4);
}

.input-form {
    margin-bottom: .5rem;
}

.btn-submit {
    background: #ffffff;
    margin-top: 1rem;
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}